<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIzundaRoid"
        tools:targetApi="31">

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AIzundaRoid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- AudioPlayerActivity -->
        <activity
            android:name=".AudioPlayerActivity"
            android:exported="true"
            android:label="@string/title_audio_player"
            android:theme="@style/Theme.AIzundaRoid"></activity>
        <activity
            android:name=".AudioRecorderActivity"
            android:exported="true"
            android:label="@string/title_activity_audio_recoder"
            android:theme="@style/Theme.AIzundaRoid"></activity>

    </application>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

</manifest>